{% extends "main/base.html" %}

{% block title %}
<title>SetMyBiz - Home</title>
{% endblock %}

{% block content %}
<div class="jumbotron">
	<h1 class="display-4">Welcome to SetMyBiz!</h1>
	<hr class="my-4">
	<p class="lead">We will help you out to find the most optimal place for setting up your new business.</p>
	<a href="{% url 'main:business' %}"><button type="button" class="btn btn-primary">Get Started >></button></a>
	<!-- 
	<button type="button" class="btn btn-success">Get Started >></button>
	<button type="button" class="btn btn-danger">Get Started >></button>
	<button type="button" class="btn btn-dark">Get Started >></button> 
	-->
</div>
{% endblock %}