{% extends "main/base.html" %}

{% block title %}
<title>SetMyBiz - Location</title>
{{ map.header.render|safe }}
{% endblock %}

{% block content %}

<div class="jumbotron">
	<h1 class="display-4">Location Analysis</h1>
	<hr class="my-4">
	<h2>
		City selected: {{ city }} <br>
	</h2>
	<h2>
		Radius to search the vicinity: {{ radius }} km(s) <br>
	</h2>
	<h2>
		Coordinates: ({{ latitude }}, {{ longitude }})
	</h2>

	<h3>
		Map containing all the offices in the city:
	</h3>
	{{ map|safe }}

	<br>
	
	<!-- 
	<h3>
		List of competitors:
	</h3>
	{{ venues_df|safe }}
	<h3>There are {{ unique }} uniques categories of restaurants.</h3>

	<h3>
		Map containing all clusters formed:
	</h3>
	{{ map_clusters|safe }} 
	
	<h3>
		List of places in best cluster:
	</h3>
	{{ best_df|safe }}
	-->

	<h3>
		Ideal location to set up business would be: <br>
		({{ best_lat }}, {{ best_long }}) <br>
		In the vicinity of {{place_1}}, {{place_2}} and {{place_3}}.
 	</h3>

</div>
{% endblock %}